

/*BOOTSTRAP ALERT COLORS*/
$red_bg: #f2dede;
$red_border: #ebcccc;
$red_color: #a94442;

$yellow_bg: #fcf8e3;
$yellow_border: #faf2cc;
$yellow_color: #8a6d3b;

$green_bg: #dff0d8;
$green_border: #d0e9c6;
$green_color: #3c763d;

$blue_bg: #d9edf7;
$blue_border: #bcdff1;
$blue_color: #31708f;


/*BOOTSTRAP LINK COLORS*/
$link_normal : #337ab7;
$link_hover : #447198;


$grey_1 : #e9e9e9;
$gray_dark: #333;


